<div>
  <h4>Home</h4>

  <h5>Select a category to trace:</h5>

  <a class='dropdown-trigger btn' href='#' data-target='dropdown-shapes'>Shapes</a>
  <ul id="dropdown-shapes" class="dropdown-content">
    {{#each shapes as |shape|}}
      <div class="carousel carousel-slider" id={{shape}} tabindex="-1">
      {{> items}}
      </div>
    {{/each}}
  </ul>

    <a class='dropdown-trigger btn' href='#' data-target='dropdown-numbers'>Numbers</a>
    <ul id="dropdown-numbers" class="dropdown-content">
      {{#each numbers as |number|}}
        <div class="carousel carousel-slider number-slider-png" id={{number}} tabindex="-1">
        {{> items}}
        </div>
      {{/each}}
    </ul>
    <a class='dropdown-trigger btn' href='#' data-target='dropdown-guided-numbers'>Guided Numbers</a>
    <ul id="dropdown-guided-numbers" class="dropdown-content">
    {{#each guidedNumbers as |guidedNumber|}}  
      <div class="carousel carousel-slider" id={{guidedNumber}} tabindex="-1">
      {{> items}}
      </div>
    {{/each}}
    </ul>

   <a class='dropdown-trigger btn' href='#' data-target='dropdown-letters'>Letters</a>
  <ul id="dropdown-letters" class="dropdown-content">
  {{#each letters as |letter|}}
    <div class="carousel carousel-slider" id={{letter}} tabindex="-1">
    {{> items}}
    </div>
  {{/each}}
  </ul>

   <a class='dropdown-trigger btn' href='#' data-target='dropdown-guided-letters'>Guided Letters</a>
  <ul id="dropdown-guided-letters" class="dropdown-content">
  {{#each guidedLetters as |guided_letter|}}
    <div class="carousel carousel-slider" id={{guided_letter}} tabindex="-1">
    {{> items}}
    </div>
  {{/each}}
  </ul>
</div>

<script src='/js/options.js'></script>